.alert {
  background-color: #FFE8E8;
  color: #B32F2F;
  box-sizing: border-box;
  padding: 0.5em;
  margin: 0.5em 0.3em;
  border-radius: 0.2em;
  border: 1px solid #FFD1D1;
  font-size: 0.8em;
  text-align: center;
}
