.dialog {
  max-width: 25em;
  margin: 2em auto;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  overflow: hidden;
  position: relative;
  &.small {
    margin: 0.5em auto;
    padding: 0;
    & > h1 {
      padding: 0.6em 0.8em;
      margin: 0;
      font-weight: normal;
      font-size: 1em;
      color: #666;
    }
    & > .content {
      overflow: hidden;
      margin: 0.3em 1.5em 1.5em;
      height: auto;
      &.hidden {
        margin: 0em 1.5em 0;
        height: 0;
      }
    }
  }
  &.large {
    max-width: 32em;
  }
  & > h1 {
    text-align: center;
    font-size: 1.2em;
    color: #666;
  }
  & > .content {
    margin: 1em;
    margin-top: 2em;
    canvas {
      max-width: 100%;
    }
  }
  &.loading {
    button {
      background-color: #F1F1F1;
      color: #333;
      border: 1px solid #bbb;
    }
  }
  .footer {
    margin-top: 1em;
    text-align: center;
    &.linear {
      text-align: center;
      button {
        width: auto;
        padding: 0.6em 1.8em;
        margin: 0.5em 0.4em;
      }
    }
  }
}
