.dialog {
  max-width: 25em;
  margin: 2em auto;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  overflow: hidden;
  position: relative;
  &.small {
    margin: 0.5em auto;
    padding: 0;
    & > h1 {
      padding: 0.6em 0.8em;
      margin: 0;
      font-weight: normal;
      font-size: 1em;
      color: #666;
    }
    & > .content {
      overflow: hidden;
      margin: 0.3em 1.5em 1.5em;
      height: auto;
      &.hidden {
        margin: 0em 1.5em 0;
        height: 0;
      }
    }
  }
  &.large {
    max-width: 32em;
  }
  & > h1 {
    text-align: center;
    font-size: 1.2em;
    color: #666;
  }
  & > .content {
    margin: 1em;
    margin-top: 2em;
    canvas {
      max-width: 100%;
    }
  }
  &.loading {
    button {
      background-color: #F1F1F1;
      color: #333;
      border: 1px solid #bbb;
    }
  }
  .footer {
    margin-top: 1em;
    text-align: center;
    &.linear {
      text-align: center;
      button {
        width: auto;
        padding: 0.6em 1.8em;
        margin: 0.5em 0.4em;
      }
    }
  }
  button {
    width: 100%;
    font-size: 1em;
    background-color: #F5FAFF;
    color: #085EC1;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.6em 0.8em;
    margin: 0.5em 0;
    border-radius: 0.2em;
    border: 1px solid #94BDEB;
  }
  button:hover {
    border: 1px solid #AECBEB;
    background-color: #FAFCFF;
  }
  button:active {
    border: 1px solid #94BDEB;
    background-color: #FFFFFF;
  }
  button:disabled {
    background-color: grayscale(#F5FAFF);
    color: grayscale(#085EC1);
    border: 1px solid grayscale(#94BDEB);
  }
  input {
    font-size: 1em;
    background-color: #fff;
    color: #333;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.6em 0.8em;
    margin: 0.5em 0;
    border-radius: 0.2em;
    border: 1px solid #ccc;
  }
  input:hover {
    border: 1px solid #999;
  }
  input:focus {
    border: 1px solid #83B1F2;
  }
  input:invalid {
    box-shadow: none;
  }
}
