@mixin arrowTop($size, $color) {
  // 'Triangle' pointing top
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $size $size $size;
  border-color: transparent transparent $color transparent;
}

.dropdown {
  display: inline-block;
  position: relative;
  $TRIANGLE_SIZE: 8.3pt;
  &>.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 9;
  }
  &>.button {
    display: block;
    cursor: pointer;
    & a {
      outline: 0;
    }
    & .title {
      padding-right: 0.3em;
      min-width: 1em;
      display: inline-block;
    }
    & .icon {
      opacity: 1;
    }
    & .title {
      text-decoration: underline;
    }
  }
  &>.arrow {
    opacity: 1;
    position: relative;
    top: 1pt;
    transition: opacity 0.1s, top 0.2s;
  }
  &>.arrow:before {
    // subtle arrow border :P
    @include arrowTop($TRIANGLE_SIZE, #999);
    margin-top: -1px;
    padding: 1px;
  }
  &>.arrow:after {
    @include arrowTop($TRIANGLE_SIZE, #fff);
    margin-top: 1px;
    z-index: 11;
  }
  &>.content {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;
    background-color: #fff;
    color: #000;
    padding: 0.5em 0;
    border: 1px solid #999;
    margin-top: $TRIANGLE_SIZE;
    border-radius: 3pt;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0 2px 4px -2px #000;
    min-width: 100%;
    line-height: 1em;
    opacity: 1;
    transition: opacity 0.2s, margin-top 0.3s,
      border-top 0.1s linear 0.2s;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0.4em 0;
      &.bold {
        font-weight: bold;
      }
      &.small {
        font-size: 0.8em;
        color: #666;
      }
      &.right {
        text-align: right;
      }
    }
    li {
      &>a, &>p {
        display: block;
        color: #333;
        padding: 0.5rem 1rem;
        margin: 0;
        font-size: 0.9em;
      }
      &>p {
        color: #666;
        font-size: 0.8em;
      }
      &>a:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
  &.hidden {
    &>.button {
      & .icon {
        opacity: 0.6;
      }
      & .title {
        text-decoration: none;
      }
      &:hover {
        & .icon {
          opacity: 1;
        }
        & .title {
          text-decoration: underline;
        }
      }
    }
    &>.content {
      visibility: hidden;
      opacity: 0;
      margin-top: 0;
      // Avoid border overlay bug when animating
      border-top: 1px solid transparent;
    }
    &>.arrow {
      visibility: hidden;
      opacity: 0;
      top: -$TRIANGLE_SIZE;
    }
    &>.cover {
      display: none;
    }
  }
}
