.labelInput {
  &>label {
    &>.label {
      display: block;
      font-weight: bold;
      font-size: 0.95em;
      text-align: left;
      color: #444;
    }
    &>.field {
      display: block;
    }
  }
  &.oneline {
    &>label {
      &>.label {
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: middle;
        min-width: 6em;
        text-align: right;
      }
      &>.field {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
