@mixin arrowTop($size, $color) {
  // 'Triangle' pointing top
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $size $size $size;
  border-color: transparent transparent $color transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
  &>.caption {
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: #333;
    margin-top: 0.3em;
    line-height: 1em;
    padding: 0.6em;
    right: 50%;
    // TODO get rid of CSS hack
    transform: translateX(50%);
    border-radius: 3pt;
    visibility: hidden;
    opacity: 0;
    font-size: 0.9em;
    transition: margin-top 0.3s, opacity 0.2s;
  }
  &>.content {
    &:after {
      @include arrowTop(0.5em, #333);
      visibility: hidden;
      margin-top: 0.3em;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &.right {
    &>.caption {
      transform: none;
      right: 0;
    }
  }
  &.left {
    &>.caption {
      transform: none;
      left: 0;
      right: auto;
    }
  }
  &:hover {
    &>.content {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
    &>.caption {
      visibility: visible;
      margin-top: 0.8em;
      opacity: 1;
    }
  }
}
