{
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "react/prop-types": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "quotes": [2, "single"],
    "camelcase": [2,
      {
        "properties": "always"
      }
    ],
    "strict": 0,
    "indent": [2, 2],
    "new-cap": [2,
      {
        "capIsNewExceptions": [
          "Server",
          "ENUM"
        ]
      }
    ],
    "curly": [2, "multi-line"],
    "no-multiple-empty-lines": [1,
      {
        "max": 2
      }
    ],
    "max-len": [1, 80, 2],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "no-underscore-dangle": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "__SERVER__": true,
    "__CLIENT__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "__WEBPACK_ISOMORPHIC_TOOLS__": true
  }
}
