.alert {
  background-color: #FFE8E8;
  color: #C10808;
  box-sizing: border-box;
  padding: 0.8em 0.8em;
  margin: 0.5em 0;
  border-radius: 0.2em;
  border: 1px solid #EB9494;
  font-size: 0.8em;
}
