.comment-card {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  .user-mini-card {
    display: inline;
    height: 100%;
    .photo {
      float: left;
      margin-left: -3em;
      & > img {
        margin-right: 0.5em;
      }
    }
    .name {
      margin-left: 0;
    }
  }
  .date {
    display: inline;
    font-size: 0.9em;
    vertical-align: middle;
    margin-left: 0.35em;
    color: #666;
    &:before {
      content: '';
      display: inline-block;
      width: 0.2em;
      height: 0.2em;
      background-color: #999;
      border-radius: 0.2em;
      vertical-align: middle;
      text-align: center;
      margin-right: 0.3em;
    }
  }
  &.editing {
    // background-color: #F9F9F9;
    & > .actions {
      .description {
        display: inline;
      }
    }
    .user-mini-card {
      .name, .username {
        margin-top: 0.4em;
      }
    }
    & > .container {
      margin-right: 1em;
    }
    border-bottom: none;
  }
  & > .actions {
    // WHAT THE ACTUAL F**K.
    // Well, actions are kinda 'covered' by container div. So we have to
    // place actions on top in order to interact with it
    position: relative;
    z-index: 1;
    float: right;
    text-align: right;
    button {
      display: inline-block;
      width: auto;
      margin: 0.2em 0.2em;
      padding: 0;
      border: 0;
      background: none;
    }
    .description {
      margin-left: 0.5em;
      display: none;
    }
  }
  & > .container {
    margin-left: 3em;
    & > .description {
      font-size: 0.9em;
      white-space: pre-line;
      margin-top: 0.4em;
    }
  }
}
