.entry-mini-card {
  padding: 0.6em 0.8em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  text-align: left;
  margin: 1em 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
  &>.head {
    width: 100%;
    &>.title {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: auto;
      font-size: 1em;
      font-weight: bold;
      margin: 0.4em 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
      input {
        font-weight: bold;
      }
      &>.fa {
        color: #444;
        padding-right: 0.3em;
      }
      &>a {
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &>.author {
      display: inline-block;
      vertical-align: middle;
      &>.user-mini-card:after {
        content: '/';
        color: #888;
        font-weight: normal;
        font-size: 1em;
        padding: 0 0.3em;
      }
    }
    &.tabular {
      display: table;
      text-align: left;
      &>.author {
        display: table-cell;
        width: auto;
        white-space: nowrap;
      }
      &>.title {
        display: table-cell;
        text-align: left;
        width: 100%;
        overflow: visible;
        text-overflow: normal;
        &>.errorInput {
          width: 100%;
          display: inline-block;
        }
        &:before {
          display: none;
        }
      }
    }
  }
  &>.permalink {
    font-size: 0.9em;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    &>a {
      color: #666;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &>.tags {
    padding: 0;
    margin: 0.4em 0;
    list-style-type: none;
    &>li {
      max-width: 100%;
      padding: 0.4em;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0.3em;
      font-size: 0.9em;
      box-sizing: border-box;
      .tooltip {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
