header {
  width: 100%;
  //background-color: #ccc;
  background-color: #3284E3;
  box-shadow: 0 0 8px -2px #000;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .container {
    display: table;
    width: 100%;
    max-width: 65em;
    margin: 0 auto;
    padding: 1em 0;
    vertical-align: middle;
    & > * {
      vertical-align: middle;
      display: table-cell;
    }
  }
  .logo {
    padding-left: 1rem;
    font-size: 1.5em;
    line-height: 2.5rem;
    font-weight: bold;
    a:hover {
      text-decoration: none;
    }
  }
  .search {
    padding: 0 1.5em;
    width: 100%;
    .search-form {
      display: table;
      max-width: 30em;
      & > * {
        display: table-cell;
      }
      .search-text {
        width: 100%;
      }
    }
    input {
      width: 100%;
      display: table-cell;
      color: #085EC1;
      background-color: #E8F3FF;
      border: none;
      padding: 0 0.5em;
      font-size: 1em;
      height: 2.5em;
      border-top-left-radius: 0.2em;
      border-bottom-left-radius: 0.2em;
      box-sizing: border-box;
      &:hover, &:focus {
        background-color: #FAFCFF;
      }
    }
    button {
      color: #085EC1;
      display: table-cell;
      background-color: #E8F3FF;
      border: none;
      padding: 0 1em;
      font-size: 1em;
      height: 2.5em;
      border-top-right-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
      box-sizing: border-box;
    }
  }
  .session {
    color: #fff;
    padding-right: 1em;
    line-height: 2.5em;
    vertical-align: middle;
    a {
      padding: 0.5em;
    }
  }
}
