$break-small: 500pt;

// TODO: invert desktop and mobile (not sure if this is necessary)
// Can I throw up on Internet Explorer? Urrrugh!!!
header {
  width: 100%;
  background-color: #3284E3;
  box-shadow: 0 0 8px -2px #000;
  padding: 1em 0;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .container {
    width: 100%;
    max-width: 65em;
    margin: 0 auto;
    vertical-align: middle;
    display: block;
    position: relative;
    min-height: 2.5em;
    & > * {
      vertical-align: middle;
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    padding-left: 1rem;
    font-size: 1.5em;
    line-height: 2.5rem;
    font-weight: bold;
    text-align: right;
    padding-right: 1rem;
    box-sizing: border-box;
    a:hover {
      text-decoration: none;
    }
  }
  .search-bar {
    padding: 0 1em;
    margin-left: 10em;
    margin-right: 16em;
    height: 2.5rem;
    @media screen and (max-width: $break-small) {
      padding-top: 3.2em;
      margin-left: 1em;
      margin-right: 1em;
      clear: both;
    }
    .search-form {
      max-width: 20em;
      @media screen and (max-width: $break-small) {
        max-width: 100%;
      }
    }
  }
  .session {
    position: absolute;
    top: 0;
    right: 0;
    width: 16em;
    text-align: right;
    overflow: visible;
    white-space: nowrap;
    color: #fff;
    padding-right: 1em;
    line-height: 2.5em;
    vertical-align: middle;
    a {
      padding: 0;
      margin: 0 0.5em;
    }
    .profile {
      width: 2.2em;
      height: 2.2em;
      vertical-align: middle;
      border: none;
      margin: 0.1em;
      border-radius: 3pt;
      box-sizing: border-box;
      box-shadow: 0 1px 3px -1px #000;
    }
  }
}
