$break-small: 30em;
.list-cart {
  margin: 0.2em 0.5em;
  min-width: 6em;
  &>.list {
    max-width: 25em;
    max-height: 20em;
    overflow: auto;
    // Hide on mobile devices; it's too big.
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}
