.overlay {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .container {
    overflow: auto;
    display: table;
    width: 100%;
    height: 100%;
    .message {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  &.loading {
    .container .message {
      font-size: 3rem;
      color: #fff;
    }
  }
  &.fixed {
    position: fixed;
    z-index: 100;
    overflow: auto;
  }
}
