$break-small: 500pt;
.search-bar {
  margin: 0 1em;
  height: 2.5rem;
  .search-form {
    position: relative;
    padding: 0 1em;
    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    button {
      position: absolute;
      top: 0;
      width: 4em;
      right: 0;
    }
  }
  input {
    width: 100%;
    color: #085EC1;
    background-color: #E8F3FF;
    border: none;
    margin: 0;
    padding: 0 0.5em;
    font-size: 1em;
    height: 2.5em;
    border-radius: 0.2em;
    box-sizing: border-box;
    padding-right: 4em;
    display: inline-block;
    &:hover, &:focus {
      background-color: #FAFCFF;
    }
  }
  button {
    width: 100%;
    color: #085EC1;
    border: none;
    margin: 0;
    padding: 0 1em;
    font-size: 1em;
    height: 2.5em;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    &:hover, &:focus {
      color: #428CE0;
    }
  }
}
