.entry-view {
  margin: 0 auto;
  max-width: 40em;
  &>.header {
    max-width: 40em;
    margin: 1.5em auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    position: relative;
    &>.entry-mini-card {
      border: none;
      border-radius: 0;
      margin: 0;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
    }
    &>.actions {
      text-align: right;
      padding: 0.5em;
      border-top: 1px solid #ccc;
      button {
        display: inline-block;
        width: auto;
        margin: 0.4em 0.4em;
      }
      .description {
        margin-left: 0.5em;
      }
    }
    &>.description {
      clear: both;
      margin: 1.5em;
    }
  }
  &>.script {
    max-width: 40rem;
    margin: 1.5rem auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    // padding: 0.6rem 0.8rem;
    font-size: 0.95em;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    &>pre {
      margin: 0;
    }
    .hljs {
      padding: 0.6rem 0.8rem;
      min-height: 10rem;
      max-width: 100%;
      max-height: 40rem;
      overflow: auto;
    }
    .ace_editor {
      margin: 0;
      border: none;
    }
  }
}
