#entry-view {
  margin: 0 auto;
  &>.header {
    max-width: 45em;
    margin: 1.5em auto;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    &>.entry-mini-card {
      border: none;
      border-radius: 0;
    }
    &>.description {
      clear: both;
      border-top: 1px solid #999;
      padding: 0 0.6em;
    }
  }
  &>.script {
    max-width: 45em;
    margin: 1.5em auto;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    padding: 0.6em 0.8em;
  }
}
