.entry-view {
  margin: 0 auto;
  max-width: 40em;
  &>.header {
    max-width: 40em;
    margin: 1.5em auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    position: relative;
    &>.entry-mini-card {
      border: none;
      border-radius: 0;
      margin: 0;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
    }
    &>.actions {
      text-align: right;
      padding: 0.5em;
      border-top: 1px solid #ccc;
      button {
        display: inline-block;
        width: auto;
        margin: 0.4em 0.4em;
      }
      .description {
        margin-left: 0.5em;
      }
    }
    &>.description {
      clear: both;
      margin: 1.5em;
      h1, h2, h3, h4, h5, h6 {
        color: #333;
      }
      a {
        color: #666;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      pre {
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
        border: 1px solid #ccc;
        margin: 0;
        display: block;
        overflow: auto;
        max-height: 30rem;
        padding: 0.5em;
        border-radius: 0.3rem;
        background: #FDF6E3 none repeat scroll 0% 0%;
        color: #657B83;
      }
      &>code, p>code, b>code, i>code, a>code {
        display: inline-block;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
        border: 1px solid #ccc;
        margin: 0;
        border-radius: 0.3rem;
        overflow-x: auto;
        padding: 0.4em;
        background: #FDF6E3 none repeat scroll 0% 0%;
        color: #657B83;
        vertical-align: middle;
      }
    }
  }
  &>.script {
    max-width: 40rem;
    margin: 1.5rem auto;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    // padding: 0.6rem 0.8rem;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    &>pre {
      margin: 0;
    }
    .hljs {
      padding: 0.6rem 0.8rem;
      min-height: 10rem;
      max-width: 100%;
      max-height: 40rem;
      overflow: auto;
    }
    .ace_editor {
      margin: 0;
      border: none;
    }
  }
  &>.script-download {
    text-align: right;
    margin-bottom: 1.5em;
    a {
      color: #666;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
