#signup, #login {
  position: relative;
  text-align: center;
  margin: 1em auto;
  padding: 0.5em;
  //max-width: 40em;
  &>h1 {
    color: #333;
  }
  &>.loading {
    font-size: 2em;
    padding: 1.5rem;
  }
  &>.footer {
    color: #333;
    font-size: 0.8em;
  }
  &>.select {
    margin: 0 auto;
    &>.section {
      display: inline-block;
      width: 25em;
      margin: 0 1em;
      vertical-align: middle;
      &>h1 {
        font-size: 1.3em;
      }
      &.others {
        width: 20em;
      }
      @media screen and (max-width: 25em) {
        width: 100%;
        margin: 0 auto;
        &.others {
          width: auto;
        }
      }
    }
  }
}
