#user-profile {
  .card {
    text-align: center;
    padding: 0.5em;
    margin-top: 1em;
    &>.photo, &>.content {
      display: inline-block;
      vertical-align: top;
    }
    &>.photo {
      img {
        width: 100%;
        max-width: 12em;
        max-height: 12em;
        padding: 0.3em;
        background-color: #fff;
        border: 1px solid #999;
        border-radius: 4pt;
      }
      margin: 0 0.5em;
    }
    &>.content {
      padding: 0 0.5em;
      margin-top: 0.5em;
      max-width: 18em;
      width: 100%;
      text-align: left;
      word-wrap: break-word;
      * {
        margin: 0;
        padding: 0;
      }
      &>div {
        margin-bottom: 0.7em;
      }
      .identity {
        .realname {
          color: #333;
          font-size: 1.7em;
          margin-bottom: 0.1em;
        }
        .username {
          color: #666;
          font-size: 1.1em;
        }
      }
      .contact {
        color: #333;
        line-height: 1.5em;
        font-size: 0.95em;
        .icon {
          color: #999;
          font-size: 0.8em;
          vertical-align: middle;
          margin-right: 0.6em;
        }
        a {
          color: #333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .bio {
        font-size: 0.9em;
      }
    }
    &:after {
      content: '';
      display: block;
      font-size: 0;
      clear: both;
    }
  }
  text-align: center;
}
